
// ==========================================================================
// Rentalcars.com Colour Palette
// ==========================================================================

// whites
$white: #ffffff;
$rc-white: #fdfefe;

// black
$black: #000000;

// greys
$rc-thunder: #222222;
$rc-mineshaft: #333333;
$rc-tundora: #444444;
$rc-dove-gray: #717171;
$rc-silver: #c7c7c7;
$rc-alto: #dddddd;
$rc-gallery: #eeeeee;

// blues
$rc-dodger-blue: #0e94f7;
$rc-azure-radiance: #0E94F8;
$rc-science-blue: #0771c4;

//greens
$rc-turquoise: #46e0c6;
$rc-spring-green: #0ae791;
$rc-emerald: #56d07d;
$rc-salem: #0F9354;

// others
$rc-purple: #669;
$rc-crusta-orange: #ff7c33;
$rc-supernova: #ffcc02;
$rc-pomegranate: #ed342f;

// buttons
$button-primary:$rc-salem;
$button-secondary-1:$rc-azure-radiance;
$button-secondary-2:$rc-gallery;
$button-secondary-3:$white;




