<!-- $$$$$$ Pre Header Module Starts -->
<table class="m-hide" align="center" width="100%" bgcolor="#1B65A4" border="0" cellspacing="0" cellpadding="10" style="width: 100%; background-color: #1B65A4">
		<tbody>
			<tr>
				<td align="center" style="font-family:'Open sans', Arial, sans-serif; text-decoration: none; font-size: 11px; color: #ffffff; font-weight:normal; text-align:normal;"><font face="'Open sans', Arial, sans-serif">
					   We're here to make it easy for you | Having trouble reading this message? <a style="font-size: 11px; color: #FFFFFF;" href="[weblink]">View it as a web page</a> | <a style="font-size: 11px; color: #FFFFFF; text-decoration: underline;" href="[unsubscribe]"> Edit Preferences</a> 
					   </font>
				</td>
			</tr>
		</tbody>
	</table>
	<!-- $$$$$$ Pre Header Module Ends -->