<!-- [START] LOGO ONLY -->
<table width="100%" cellspacing="0" cellpadding="0" class="header" class="tbl-100" bgcolor="#FFFFFF">
  <tr>
    <td align="center">
      <table width="610" cellspacing="0" cellpadding="0" class="tbl-610 m-span9">
        <tr>
          <td colspan="2" height="15"  class="spacer-15-h"></td>
        </tr>
        <tr>
          <th class="m-block tbl-100" width="100%" align="center">
            <a target="_blank" class="logo m-center" href="http://www.rentalcars.com/Home.do?affiliateCode=return&preflang=en&cor=gb&adplat=email&adcamp=ancillary-email-4-07042016&adco=1"><img alt="Rentalcars.com" width="230" height="39" src="http://www.rentalcars.com/emailimages/new-brand-email/rc-logo-new-460.png" class="logo-img m-hide"></a>
          </th>
        </tr>
        <tr>
          <td colspan="2" height="15" class="spacer-15-h"></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- [END] LOGO & NUMBER-->