<!-- HERO -->
          <table class="m-span9" align="center" width="610" border="0" cellspacing="0" cellpadding="0" style="width: 610px;">
            <tbody>
              <tr>
                <th width="375" class="m-block m-margin--bottom" style="width: 375px;">
                  <img class="responsive-img" src="https://www.rentalcars.com/images/site_graphics/newsite/locations/wide_1000/es/barcelona.jpg" alt="" width="375" height="250" style="display: block; border: 0; width: 375px; height: 250px;" />
                </th>
                <td class="m-hide" width="15" style="width: 15px;"></td>
                <th valign="top" class="m-block">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td class="m-title" style="font-family: arial, Helvetica, sans-serif; font-size: 14px; color: #444444; line-height:1.4; text-align: left; font-weight: normal;"><span style="font-weight: bold;">Pick up:</span> Barcelona Airport</td>
                      </tr>
                       <tr>
                        <td class="m-title2" style="font-family: arial, Helvetica, sans-serif; font-size: 14px; color: #444444; line-height:1.4; text-align: left; font-weight: normal;">August 30 2017 - 10:00</td>
                      </tr>
                      <tr>
                        <td height="10" style="height: 10px;"></td>
                      </tr>
                      <tr>
                        <td class="m-title" style="font-family: arial, Helvetica, sans-serif; font-size: 14px; color: #444444; line-height:1.4;text-align: left; font-weight: normal;"><span style="font-weight: bold;">Drop off:</span> Barcelona Airport</td>
                      </tr>
                       <tr>
                        <td class="m-title2" style="font-family: arial, Helvetica, sans-serif; font-size: 14px; color: #444444; line-height:1.4;text-align: left; font-weight: normal;">September 1 2017 - 10:00</td>
                      </tr>
                      <tr>
                        <td height="15" style="height: 15px;"></td>
                      </tr>
                      <!-- BUTTON -->
                      <tr>
                        <td>
                          <table width="100%" style="border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px; width: 100%" bgcolor="#0F9354" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="12" style="height: 12px;"></td>
                          </tr>
                          <tr>
                            <td align="center">
                            <a target="_blank" href="https://www.rentalcars.com/en/city/es/barcelona/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=210&mailtype=&click_country=Spain%20-%20Mainland" target="_blank" style="font-size: 16px; font-family: arial, helvetica, sans-serif; color: #FFFFFF; text-decoration: none;display: inline-block; text-align: center;">Search</a>
                            </td>
                          </tr>
                          <tr>
                            <td height="12" style="height: 12px;"></td>
                          </tr>
                          </table>
                        </td>
                      </tr>
                      <!-- [END] BUTTON -->
                       <tr>
                        <td height="10" style="height: 10px;"></td>
                      </tr>
                       <tr>
                        <td style="font-family: arial, Helvetica, sans-serif; font-size: 14px; color: #444444; line-height:1.4; text-align: left; font-weight: normal;">Need help? view <a href="https://www.rentalcars.com/en/help/" style="color: #0E94F7; text-decoration: none;">help & support</a></td>
                      </tr>
                    </tbody>
                  </table>
                </th>
                <td class="m-hide" width="15" style="width: 15px;"></td>
              </tr>
            </tbody>
          </table>
          <!-- [END] HERO -->