<!-- [START] INFO BAR INFO -->
          <table class="m-span9" bgcolor="#E7EFF4" width="610" border="0" cellspacing="0" cellpadding="0" style="width: 610px;border-left:5px solid #0F6193; background-color: #E7EFF4;">
            <tbody>
              <tr>
                <td colspan="5" height="15" style="height: 15px;"></td>
              </tr>
              <tr>
                <td width="15" style="width: 15px;"></td>
                <td width="28" style="width: 28px;"> <img width="28" height="28" style="border:none; display: block; width: 28px; height: 28px;" src="http://www.rentalcars.com/emailimages/blue-info.png"></td>
                <td width="15" style="width: 15px;"></td>
                <td>
                  <table border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                      <tr>
                        <td style="font-family: arial, Helvetica, sans-serif; font-size: 14px; color: #0F6193; line-height:1.4; font-weight:bold;">Popular choice</td>
                      </tr>
                      <tr>
                        <td style="font-family: arial, Helvetica, sans-serif; font-size: 14px; color: #444444; line-height:1.4;">30 people from the UK have booked Barcelona airport today</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="15" style="width: 15px;"></td>
              </tr>
              <tr>
                <td colspan="5" height="15" style="height: 15px;"></td>
              </tr>
            </tbody>
          </table>
          <!-- [END] INFO BAR INFO -->