<!-- LIST -->
          <table class="m-span9" width="610" border="0" cellspacing="0" cellpadding="0" style="width: 610px;">
            <tbody>
              <tr>
                <td width="22" style="width: 22px;"> <img width="22" height="22" style="border:none; display: block; width: 22px; height: 22px;" src="http://www.rentalcars.com/emailimages/green-tick-solid.png"></td>
                <td width="10" style="width: 10px;"></td>
                <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4;">Barcelona has plenty of underground parking lots, and numerous metered parking zones have been introduced. Parking is not allowed in spaces with yellow stripes.</td>
              </tr>
              <tr>
                <td colspan="3" height="10" style="height: 10px;"></td>
              </tr>
              <tr>
                <td width="22" style="width: 22px;"> <img width="22" height="22" style="border:none; display: block; width: 22px; height: 22px;" src="http://www.rentalcars.com/emailimages/green-tick-solid.png"></td>
                <td width="10" style="width: 10px;"></td>
                <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4;">Be aware of people on mopeds when driving in the city centre.</td>
              </tr>
               <tr>
                <td colspan="3" height="10" style="height: 10px;"></td>
              </tr>
              <tr>
                <td width="22" style="width: 22px;"> <img width="22" height="22" style="border:none; display: block; width: 22px; height: 22px;" src="http://www.rentalcars.com/emailimages/green-tick-solid.png"></td>
                <td width="10" style="width: 10px;"></td>
                <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4;">Make sure you book your hire car well in advance, as popular cars are likely to sell out quickly (particularly during the summer months when demand is high).</td>
              </tr>
            </tbody>
          </table>
          <!-- [END] LIST -->