<!-- PANEL 1 -->
          <table class="m-span9" align="center" width="610" border="0" cellspacing="0" cellpadding="0" style="width: 610px; border:1px solid #DDDDDD; border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px;">
            <tbody>
              <tr>
                <td colspan="3" height="15" style="height: 15px;"></td>
              </tr>
              <tr>
                <td width="15" style="width: 15px;"></td>
                <td>
                  <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                    <tbody>
                      <tr>
                       <th width="240" class="m-block m-margin--bottom" style="width: 240px;">
                         <a target="_blank" href="https://www.rentalcars.com/en/city/es/ibiza/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands"><img class="responsive-img" src="https://www.rentalcars.com/images/site_graphics/newsite/locations/wide_1000/es/ibiza.jpg" alt="Car hire in Ibiza" width="240" height="151" style="display: block; border: 0;" /></a>
                       </th>
                          <td class="m-hide" width="15" style="width: 15px;"></td>
                          <th class="m-block">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                              <tbody>
                                <tr>
                                  <td width="24" style="width: 24px;"><a href="https://www.rentalcars.com//en/country/es?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=52" target="_blank"><img src="http://www.rentalcars.com/images/flags/es.png" alt="" width="24" height="24" style="display: block; border: 0;" /></a></td>
                                  <td width="10" style="width: 10px;"></td>
                                  <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4;text-align: left; font-weight: normal;"><span style="font-weight: bold;">Ibiza, Spain</span> - from <span style="font-weight: bold;">£5</span> per day</td>
                                </tr>
                                <tr>
                                  <td colspan="3" height="15" style="height: 15px;"></td>
                                </tr>
                                <tr>
                                  <td colspan="3">
                                    <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                      <td align="left" style="border-radius: 3px;" bgcolor="#0E94F8">
                                      <a href="#" target="_blank" style="font-size: 16px; font-family: arial, helvetica, sans-serif; color: #FFFFFF; text-decoration: none; border-radius: 3px; padding:10px 20px 10px 20px; border: 1px solid #0E94F8; display: inline-block;">Search for car hire</a>
                                      </td>
                                    </tr>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </th>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td width="15" style="width: 15px;"></td>
              </tr>
              <tr>
                <td colspan="3" height="15" style="height: 15px;"></td>
              </tr>
            </tbody>
          </table>
          <!-- [END] PANEL 1 -->