<!-- IMAGE PANELS -->
           <table class="m-span9" align="center" width="610" border="0" cellspacing="0" cellpadding="0" style="width: 610px;">
                    <tbody>
                    <!-- ROW 1 -->
                      <tr>
                      <!-- PANEL 1 -->
                        <th class="m-block m-margin--bottom" width="297" align="center" style="width: 297px;">
                          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tbody>
                              <tr>
                                 <th valign="top" width="297" class="m-block" style="width: 297px;">
                         <a target="_blank" href="https://www.rentalcars.com/en/city/es/ibiza/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands"><img class="responsive-img" src="https://www.rentalcars.com/images/site_graphics/newsite/locations/wide_1000/es/ibiza.jpg" alt="Car hire in Ibiza" width="297" height="187" style="display: block; border: 0;" /></a>
                       </th>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table align="center" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="24" style="width: 24px;"><a href="https://www.rentalcars.com/en/country/es/" target="_blank"><img src="http://www.rentalcars.com/images/flags/es.png" alt="" width="24" height="24" style="display: block; border: 0;" /></a></td>
                                          <td width="10" style="width: 10px;"></td>
                                        <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4; font-weight: bold;"><a href="https://www.rentalcars.com/en/city/es/ibiza/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="text-decoration: none; color: #444444;">Ibiza</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td align="center">
                                  <table width="100%" bgcolor="#0F9354" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px;">
                                    <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                      <a href="https://www.rentalcars.com/en/city/es/ibiza/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="font-size: 16px; font-family: arial, helvetica, sans-serif; color: #FFFFFF; text-decoration: none; display: inline-block;">from <span style="font-weight: bold;">£4</span> per day</a>
                                      </td>
                                    </tr>
                                      <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <!-- [END] PANEL 1 -->
                        <td class="m-hide" width="15" style="width: 15px;"></td>
                        <!-- PANEL 2 -->
                        <th class="m-block" width="297" align="center" style="width: 297px;">
                          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tbody>
                              <tr>
                                 <th valign="top" width="297" class="m-block" style="width: 297px;">
                         <a target="_blank" href="https://www.rentalcars.com/en/city/es/sevilla/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands"><img class="responsive-img" src="https://www.rentalcars.com/images/site_graphics/newsite/locations/wide_1000/es/sevilla.jpg" alt="Car hire in Seville" width="297" height="187" style="display: block; border: 0;" /></a>
                       </th>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table align="center" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="24" style="width: 24px;"><a href="https://www.rentalcars.com/en/country/es/" target="_blank"><img src="http://www.rentalcars.com/images/flags/es.png" alt="" width="24" height="24" style="display: block; border: 0;" /></a></td>
                                          <td width="10" style="width: 10px;"></td>
                                        <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4; font-weight: bold;"><a href="https://www.rentalcars.com/en/city/es/sevilla/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="text-decoration: none; color: #444444;">Sevilla</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td align="center">
                                  <table width="100%" bgcolor="#0F9354" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px;">
                                    <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                      <a href="https://www.rentalcars.com/en/city/es/sevilla/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="font-size: 16px; font-family: arial, helvetica, sans-serif; color: #FFFFFF; text-decoration: none; display: inline-block;">from <span style="font-weight: bold;">£5</span> per day</a>
                                      </td>
                                    </tr>
                                      <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <!-- [END] PANEL 2 -->
                      </tr>
                      <!-- [END] ROW 1 -->
                      <tr>
                        <td height="15" style="height: 15px;"></td>
                      </tr>
                      <!-- ROW 2 -->
                      <tr>
                      <!-- PANEL 3 -->
                        <th class="m-block m-margin--bottom" width="297" align="center" style="width: 297px;">
                          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tbody>
                              <tr>
                                 <th valign="top" width="297" class="m-block" style="width: 297px;">
                         <a target="_blank" href="https://www.rentalcars.com/en/city/es/tenerife/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands"><img class="responsive-img" src="https://www.rentalcars.com/images/site_graphics/newsite/locations/wide_1000/es/tenerife.jpg" alt="Car hire in Ibiza" width="297" height="187" style="display: block; border: 0;" /></a>
                       </th>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table align="center" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="24" style="width: 24px;"><a href="https://www.rentalcars.com/en/country/es/" target="_blank"><img src="http://www.rentalcars.com/images/flags/es.png" alt="" width="24" height="24" style="display: block; border: 0;" /></a></td>
                                          <td width="10" style="width: 10px;"></td>
                                        <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4; font-weight: bold;"><a href="https://www.rentalcars.com/en/city/es/tenerife/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="text-decoration: none; color: #444444;">Tenerife</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td align="center">
                                  <table width="100%" bgcolor="#0F9354" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px;">
                                    <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                      <a href="https://www.rentalcars.com/en/city/es/madrid/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="font-size: 16px; font-family: arial, helvetica, sans-serif; color: #FFFFFF; text-decoration: none; display: inline-block;">from <span style="font-weight: bold;">£4</span> per day</a>
                                      </td>
                                    </tr>
                                      <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <!-- [END] PANEL 1 -->
                        <td class="m-hide" width="15" style="width: 15px;"></td>
                        <!-- PANEL 4 -->
                        <th class="m-block" width="297" align="center" style="width: 297px;">
                          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="width: 100%;">
                            <tbody>
                              <tr>
                                 <th valign="top" width="297" class="m-block" style="width: 297px;">
                         <a target="_blank" href="https://www.rentalcars.com/en/city/es/madrid/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands"><img class="responsive-img" src="https://www.rentalcars.com/images/site_graphics/newsite/locations/wide_1000/es/madrid.jpg" alt="Car hire in Seville" width="297" height="187" style="display: block; border: 0;" /></a>
                       </th>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td>
                                  <table align="center" border="0" cellspacing="0" cellpadding="0">
                                    <tbody>
                                      <tr>
                                        <td width="24" style="width: 24px;"><a href="https://www.rentalcars.com/en/country/es/" target="_blank"><img src="http://www.rentalcars.com/images/flags/es.png" alt="" width="24" height="24" style="display: block; border: 0;" /></a></td>
                                          <td width="10" style="width: 10px;"></td>
                                        <td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4; font-weight: bold;"><a href="https://www.rentalcars.com/en/city/es/madrid/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="text-decoration: none; color: #444444;">Madrid</a></td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                              <tr>
                                <td height="10" style="height: 10px;"></td>
                              </tr>
                              <tr>
                                <td align="center">
                                  <table width="100%" bgcolor="#0F9354" align="center" border="0" cellspacing="0" cellpadding="0" style="width: 100%; border-radius: 4px; -webkit-border-radius:4px; -moz-border-radius:4px;">
                                    <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                    <tr>
                                      <td align="center">
                                      <a href="https://www.rentalcars.com/en/city/es/madrid/?affiliateCode=return&cor=gb&preflang=en&prefcurrency=gbp&adplat=email&adcamp=&adco=75&mailtype=NewsletterTuesday&click_country=Spain%20-%20Balearic%20Islands" target="_blank" style="font-size: 16px; font-family: arial, helvetica, sans-serif; color: #FFFFFF; text-decoration: none; display: inline-block;">from <span style="font-weight: bold;">£5</span> per day</a>
                                      </td>
                                    </tr>
                                      <tr>
                                      <td height="15" style="height: 15px;"></td>
                                    </tr>
                                  </table>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </th>
                        <!-- [END] PANEL 2 -->
                      </tr>
                      <!-- [END] ROW 2 -->
                    </tbody>
                  </table>
          <!-- [END] IMAGE PANELS -->