
<!--PRETEXT HEADER-->   
          <table class="m-hide preheader" bgcolor="#0E94F7" width="100%" cellpadding="0" cellspacing="0">
            <tr>
              <td class="spacer-10-h" colspan="3" height="10"></td>
            </tr>
            <tr>
              <td class="spacer-10-w" width="10"></td>
              <td class="preheader-blue" cellspacing="0" cellpadding="0">
                Having trouble reading this message? <a class="preheader-link" href="[weblink]">View it as a web page</a>
              </td>
              <td class="spacer-10-w" width="10"></td>
            </tr>
             <tr>
              <td class="spacer-5-h" colspan="3" height="5"></td>
            </tr>
            <tr>
              <td class="spacer-10-w" width="10"></td>
              <td class="preheader-blue">Don't miss out on our great offers: add  <a href="#" class="preheader-link">email@email.sg.rentalcars.com</a> to your contacts.</td>
              <td class="spacer-10-w" width="10"></td>
            </tr>
            <tr>
              <td class="spacer-10-h" colspan="3" height="10"></td>
            </tr>
          </table>
          <!--[END] PRETEXT HEADER-->


