<!-- [START] SUBTITLE + DECRIPTION -->
<table class="m-span9 tbl-610" align="center" width="610" border="0" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td height="35" style="height: 35px;"></td>
    </tr>
    <tr>
    	<td align="center" style="font-family: arial, Helvetica, sans-serif; font-size: 18px; color: #444444; line-height:1.4; font-weight:bold; text-align: center;">Popular destinations</td>
    </tr>
    <tr>
    	<td align="center" style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4; text-align: center;">769 searched in 24 hours! here are the most popular</td>
    </tr>
    <tr>
      <td height="10" style="height: 10px;"></td>
    </tr>
    <tr>
    <td width="60" align="center" style="width: 60px;">
      	<table align="center" width="60" border="0" cellspacing="0" cellpadding="0" style="width: 60px;">
      <tbody>
        <tr>
          <td width="60" align="center" style="border-bottom: 3px solid #0E94F7; width: 60px;"></td>
        </tr>
      </tbody>
    </table>
      </td>
    </tr>
    <tr>
      <td height="35" style="height: 35px;"></td>
    </tr>
  </tbody>
</table>
<!-- [END] SUBTITLE + DECRIPTION -->