<!-- TITLE + DESCRIPTION -->
<table class="m-span9" align="center" width="610" border="0" cellspacing="0" cellpadding="0" style="width: 610px;">
    <tr>
      <td style="font-family: arial, Helvetica, sans-serif; font-size: 30px; color: #444444; line-height:1.4; font-weight:bold;">Still deciding where to go?</td>
    </tr>
    <tr>
      <td height="10" style="height: 10px;"></td>
    </tr>
    <tr>
    	<td style="font-family: arial, Helvetica, sans-serif; font-size: 16px; color: #444444; line-height:1.4;">Customers who visited Barcelona also like these destinations…</td>
    </tr>
</table>
<!-- [END] TITLE + DESCRIPTION -->